/* CARRITO */

.cardCarrito {
    display: flex;
    border-radius: 1px  $color-negro;
    margin: 15px;
    padding: 10px;
    justify-content: center;
    box-shadow: 5px 5px 12px $color-negro;
    margin: 20px;
   
  }

  .card2{
    margin: 10px;
    padding: 5px;
  }

 .card-body{
  border-radius: 1px, black;

 } 