/* CARRITO */
.card{
    display: flex;
    border-radius: 1px  $color-negro;
    margin: 15px;
    padding: 10px;
    justify-content: center;
    box-shadow: 5px 5px 12px $color-negro;
    margin: 20px;
    justify-content: center;
   
  }

 