/* LOGIN  */

.imgLogin {
    margin: 30px;
  }
  
  
  /* BOTON LOGIN */
  
  .botonLink {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .imgRegister {
    margin: 10px;
    width: 650px;
    display: flex;
    justify-items: center;
    text-align: center;

  }