/* LOGIN  */

.imgLogin {
    margin: 30px;
  }
  
  .imagenCard {
    box-shadow: 5px 8px 12px $color-negro;
  }
  
  /* BOTON LOGIN */
  
  .botonLink {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  