@media screen and (max-width: 600px) {
    body {
        display: block;
        width: 100%;
    }

    iframe {
        width: 70%;

    }
    .card2 {
        margin: 20px;
    }
}

@media screen and (max-width: 1090px) {

    footer {
        margin: auto;
        width: 100%;

    }
    .cardCarrito {
    
        align-items: center;  
        margin-top: 15px;
        margin: 15px;
        padding: 10px;

    }

    .imgRegister {
        margin: auto;
        padding: 15px;
        
    }

   /* .contenedorProducto {
       
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        display: grid;

    }
*/

}

@media screen and (max-width: 600px) {
    .cardCarrito {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        margin: 30px;
        padding: 10px;

    }

    .buttonPromo {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

}
@media screen and (max-width: 600px) {

    .contenedorProducto {
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

}

@media screen and (max-width: 600px) {
    .imgLogin {
        margin: auto;
    }

    .imgRegister {
        margin: auto;
        padding: 15px;
        
    }

    .botonLink{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;


    }

}

@media screen and (min-width: 750px) {
    .imagenCard{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 200px;
        

    }

    .imgRegister {
        margin: auto;
        
    }
   
    

}