@media screen and (max-width: 600px) {
    body {
        display: block;
        width: 100%;
    }

    iframe {
        width: 70%;

    }
    .card {
        margin: 10px;
    }
}

@media screen and (max-width: 1020px) {

    footer {
        margin: auto;
        width: 100%;

    }

}

@media screen and (max-width: 600px) {
    .cardCarrito {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;

    }

    .buttonPromo {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

}
@media screen and (max-width: 600px) {

    .contenedorProducto {
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

}

@media screen and (max-width: 600px) {
    .imgLogin {
        margin: auto;
    }

    .botonLink{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;


    }

}